/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	body {
		background-color: #FF4A50;
		font-family: 'Open Sans', sans-serif;
	}
	
	aside {
		background-color: #FF4A50;
		color: white;
		width: 30%;
		display: block;
		float: left;
	}
	
	#container {
		margin: 0 10% 0 0;
	}
	
	#content {
		background-color: white;
		float: right;
		width: 70%;
	}
	
	h1, h2, h3 {
		margin: 0;
		font: 100% 'Open Sans', sans-serif;
		padding: 1em;
		clear: both;
		color: white;
	}
	
	h1 {
		font-size: 140%;
		font-weight: bold;
	}
	
	h3 {
		border-top: 0.5em solid #EE454B;
	}
	
	#iniziofine label {
		padding: 0.5em 1em 1em;
		clear: both;
		display: none;
	}
	
	#satelliti label, #strumenti label {
		float: left;
		clear: left;
		padding-bottom: 1em;
		padding-right: 1em;
		padding-left: 1em;
		font-weight: normal;
		font-style: normal;
	}
	
	input[type='checkbox'] {
		float: right;
		margin-bottom: 1em;
		margin-left: 1em;
		margin-right: 1em;
	} 
	
	input[type='text'] {
		margin: 0 1em 1em;
		display: block;
		border-style: none;
		border-radius: 0;
		padding: 0.5em;
	} 
	
	#content table {
		display: block;
		width: 94%;
		margin: 3%;
		height: 60%;
	}
	
	#content td {
		border-top-color: black;
		border: 1px solid silver;
		padding: 0.5em;
		color: silver;
	}
	
	span {
		font-size: 80%;
		display: block;
		text-align: right;
		margin-bottom: 0.5em;
	}
	
	#container {
		margin: 0;
		padding: 0;
	}
	
	p {
		display: block;
		clear: none;
		font-size: 90%;
		padding: 0.2em 0.8em;
		color: white;
		border-radius: 1em;
		margin-bottom: 0.5em;
	}
	
	.red {
		background-color: #FF4A50;
	}
	
	.green {
		background-color: #D7FF4A;
		color: gray;
	}
	
	.blue {
		background-color: #4AEBFF;
		color: gray;
	}
	
	form a {
		color: white;
	}
	
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') 
	    font-weight: normal;
	    font-style: normal; }
*/